<%= form_for(@project) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :project_name, placeholder: "+ add Project" %>
  </div>
  <%= f.submit "+ add TODO List", class: "btn btn-primary" %>
<% end %>